<!-- LIFECYCLE -->

<!-- <button (click)="toggleComponent()">{{ showComponent ? 'Remove' : 'Add' }} Component</button> -->

<!-- <app-first *ngIf="showComponent"></app-first> -->

<!-- <button (click)="changeFirstData()">Change First Data</button>
<app-first *ngIf="showComponent" [data]="dataForFirst"></app-first> -->

<!-- <button (click)="changeSecondData()">Change Second Data</button>
<app-second *ngIf="showComponent" [data]="dataForSecond"></app-second> -->
<!-- <app-second *ngIf="showComponent" [data]="dataArrayForSecond"></app-second> -->


<!-- <app-parent>
  <div #content>foo bar</div>
</app-parent> -->



<!-- ENCAPSULATION -->

<!-- <app-emulated></app-emulated> -->
<!-- <app-none></app-none> -->
<!-- <app-shadow></app-shadow> -->
<!-- <p class="color">HELLO WORLD</p> -->
